body {
    background-color: white;
    margin:0;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:14px;
    background-color: #D4D4D4;
}

div {
    display: block;
}

h1 {
    font-size: 14pt;
    font-weight: 100;
}

#banner {
    background-color: #C2E0FF;
    height: 50px;
    width: 100%;
}

#header {
    float: right;
    background-color: #DCF8FF;
    width: 400px;
}

#logo {
    height: 50px;
}

#content {
    margin-right: 270px;
    width: 100%;
}

#sidebar {
    float: right;
    background-color: #D6F5FF;
    width: 250px;
    height: 400px;
    padding: 10px;
}