<a href="http://example.com"><img src="<%= get_ad %>" style="height:250px; width:250px;"/></a>
<%= yield :aside %>
<a href="posts/new" class="new_post_link"><div class="new_post_link">Submit a link</div></a>